@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400,500,700&display=swap');
@import 'tailwindcss';

@theme {
  --tracking-*: initial;
  --tracking-normal: 0em;
  --tracking-wide: 0.1em;

  --breakpoint-*: initial;
  --breakpoint-md: 768px;

  --border-width-*: initial;
  --border-width-0: 0;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;
  --border-width: 1px;
  --border-width-0_5: 0.5px;

  --stroke-width-3: 3px;
  --stroke-width-4: 4px;

  --color-component-background: #fafafa;
  --color-primary: #f9bf45;
  --color-primary-light: #fad689;
  --color-primary-dark: #c28f06;
  --color-secondary01: #fcfcfc;
  --color-secondary02: #f4f4f4;
  --color-secondary03: #d9d9d9;
  --color-secondary04: #888888;
  --color-secondary05: #4d4d4d;
  --color-secondary06: #3d3d3d;

  /* --font-noto-serif: "Noto Serif TC", serif; */
  --font-noto-sans: 'Noto Sans TC', sans-serif;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-before-hamburger-in: beforeHamburgerIn 1s forwards;
  --animate-after-hamburger-in: afterHamburgerIn 1s forwards;
  --animate-before-hamburger-out: beforeHamburgerOut 0.5s forwards;
  --animate-after-hamburger-out: afterHamburgerOut 1s forwards;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  @keyframes beforeHamburgerIn {
    0% {
      transform: translateY(-8px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  @keyframes afterHamburgerIn {
    0% {
      transform: translateY(8px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: rotate(-45deg);
    }
  }
  @keyframes beforeHamburgerOut {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: translateY(-8px);
    }
  }
  @keyframes afterHamburgerOut {
    0% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: translateY(8px);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
  scroll-padding-top: 56px;
  scroll-behavior: smooth;
  @apply font-noto-sans;
}

h1 {
  @apply font-noto-sans text-[28px] font-bold tracking-wide;
}

h2 {
  @apply font-noto-sans text-[22px] font-bold tracking-wide;
}

h3 {
  @apply font-noto-sans text-base font-bold tracking-wide;
}

p {
  @apply font-noto-sans text-base;
}

li {
  @apply font-noto-sans text-base;
}

caption {
  @apply font-noto-sans text-[11px] font-medium;
}

button {
  @apply cursor-pointer text-sm font-bold;
}

a {
  @apply font-noto-sans;
}
